In [22]:
from kiteconnect import KiteConnect
from pymongo import MongoClient, DESCENDING

In [23]:
# connect to the database
mongo = MongoClient(
    "mongodb://akshay:Learnapp1234@cluster0-shard-00-00.9hpry.mongodb.net:27017,cluster0-shard-00-01.9hpry.mongodb.net:27017,cluster0-shard-00-02.9hpry.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-9goxcz-shard-0&authSource=admin&retryWrites=true&w=majority"
)

mydb = mongo["test"]
coll = mydb["tokens-swati"]

# Find the login details
login = list(coll.find({"user_id": "XS1494"}))[0]
token = list(coll.find())[-1]

# generating and storing access token - valid till 6 am the next day
kite = KiteConnect(api_key=login["api_key"])
kite.set_access_token(token["access_token"])

In [24]:
def PlaceSellOrder(kite, symbol, quantity):

    order_id = kite.place_order(
        tradingsymbol=symbol,
        exchange=kite.EXCHANGE_NSE,
        transaction_type=kite.TRANSACTION_TYPE_SELL,
        quantity=quantity,
        order_type=kite.ORDER_TYPE_MARKET,
        product=kite.PRODUCT_MIS,
        variety=kite.VARIETY_REGULAR,
        tag=symbol + ":short",
    )

    return order_id

In [25]:
# Place an Intraday stoploss order
def PlaceSlOrder(kite, symbol, quantity, entry_price):

    order_id = kite.place_order(
        tradingsymbol=symbol,
        exchange=kite.EXCHANGE_NSE,
        transaction_type=kite.TRANSACTION_TYPE_BUY,
        trigger_price=entry_price,
        quantity=quantity,
        order_type=kite.ORDER_TYPE_SLM,
        product=kite.PRODUCT_MIS,
        variety=kite.VARIETY_REGULAR,
        tag=symbol + ":sl",
    )

    return order_id

In [26]:
def PlaceTgtOrder(kite, symbol, quantity, entry_price):

    order_id = kite.place_order(
        tradingsymbol=symbol,
        exchange=kite.EXCHANGE_NSE,
        transaction_type=kite.TRANSACTION_TYPE_BUY,
        price=entry_price,
        quantity=quantity,
        order_type=kite.ORDER_TYPE_LIMIT,
        product=kite.PRODUCT_MIS,
        variety=kite.VARIETY_REGULAR,
        tag=symbol + ":tgt",
    )

    return order_id

In [27]:
PlaceSellOrder(kite,"RELIANCE",1)

'230315401794114'

In [30]:
PlaceSlOrder(kite,"RELIANCE",1,2500)

'230315401810404'

In [33]:
PlaceTgtOrder(kite,"RELIANCE",1,2200)

'230315401818578'

# Strategy rules

TimeFrame = 5 mins

Instrument = BankNifty Futures

Start Time = 09:20 AM

End Time = 15:15 PM

Entry Rules:
1. Short Put Option (just below Rs. 100), if BNF is bullish as per supertrend(10,3)
2. Short Call Option (just below Rs. 100), if BNF is bearish as per supertrend(10,3)

Exit Rules:
1. SL is 50% of the entry price or EOD whichever is earlier

In [1]:
import pandas as pd
from fyers_api import accessToken
from fyers_api import fyersModel
from pymongo import MongoClient,DESCENDING
import requests
import json
import time
import pandas as pd
import datetime as dt
import pyotp
from urllib.parse import urlparse, parse_qs
import numpy as np

In [2]:
bot_token = "1733931112:AAGdRjwf10J9L2-Pg6SZ4o2eLq_nQu7Dze0"

In [40]:
def send_message_telegram(chat_id, text):
    url = 'https://api.telegram.org/bot{}/sendMessage'.format(bot_token)
    data = {'chat_id': chat_id, 'text': text}

    r = requests.post(url, json=data).json()
    print(r)
    print("inside send_message_bot")

In [41]:
# get the zerodha enctoken
url = "https://68o9pf66q0.execute-api.ap-south-1.amazonaws.com/"
payload = {}
headers = {}
response = requests.request("GET", url, headers=headers, data=payload)
token = response.text

In [42]:
token

'cY+ntqY85NVkWxjHy+QhsvtAyvcm006xqFfgnHUnZE7Li75EvbXEg//FXpeTUxZwUHlUZhf5VIcxVjH5OsDcFTt60/cJExcLx1rCGs4w+LU9EJPKMcUOuw=='

In [43]:
instruments_fno = pd.read_csv("https://api.kite.trade/instruments/NFO")

In [44]:
instruments_fno

,instrument_token,exchange_token,tradingsymbol,name,last_price,expiry,strike,tick_size,lot_size,instrument_type,segment,exchange
0,10866178,42446,NIFTY23MAR11000CE,NIFTY,0,2023-03-29,11000.0,0.05,50,CE,NFO-OPT,NFO
1,10866434,42447,NIFTY23MAR11000PE,NIFTY,0,2023-03-29,11000.0,0.05,50,PE,NFO-OPT,NFO
2,14658562,57260,NIFTY23MAR12000CE,NIFTY,0,2023-03-29,12000.0,0.05,50,CE,NFO-OPT,NFO
3,14658818,57261,NIFTY23MAR12000PE,NIFTY,0,2023-03-29,12000.0,0.05,50,PE,NFO-OPT,NFO
4,14659074,57262,NIFTY23MAR13000CE,NIFTY,0,2023-03-29,13000.0,0.05,50,CE,NFO-OPT,NFO
...,...,...,...,...,...,...,...,...,...,...,...,...
48669,13453826,52554,ZEEL23MARFUT,ZEEL,0,2023-03-29,0.0,0.05,3000,FUT,NFO-FUT,NFO
48670,9196034,35922,ZEEL23MAYFUT,ZEEL,0,2023-05-25,0.0,0.05,3000,FUT,NFO-FUT,NFO
48671,13597954,53117,ZYDUSLIFE23APRFUT,ZYDUSLIFE,0,2023-04-27,0.0,0.05,1800,FUT,NFO-FUT,NFO
48672,13454082,52555,ZYDUSLIFE23MARFUT,ZYDUSLIFE,0,2023-03-29,0.0,0.05,1800,FUT,NFO-FUT,NFO
48673,18512642,72315,ZYDUSLIFE23MAYFUT,ZYDUSLIFE,0,2023-05-25,0.0,0.05,1800,FUT,NFO-FUT,NFO

In [45]:
bnfut = instruments_fno[(instruments_fno["name"] == "BANKNIFTY") & (instruments_fno["segment"] == "NFO-FUT")].sort_values("expiry").iloc[0]
bnfut_symbol, bnfut_token = bnfut["tradingsymbol"], bnfut["instrument_token"]

In [46]:
# Function to get last 60 days of data
def get_data(bnfut):

    user_id = "VT5229"
    scrip_ID = bnfut["instrument_token"]
    start_date = (dt.datetime.today() - dt.timedelta(10)).strftime("%Y-%m-%d")
    end_date = dt.datetime.today().strftime("%Y-%m-%d")
    period = "minute"
    
    url = f"https://kite.zerodha.com/oms/instruments/historical/{scrip_ID}/{period}?user_id={user_id}&oi=1&from={start_date}&to={end_date}"

    payload = {}
    headers = {
        "Accept": "application/json",
        "Content-Type": "application/json",
        "authorization": f"enctoken {token}",
    }

    response = requests.request("GET", url, headers=headers, data=payload)

    data = response.json()["data"]["candles"]
    df = pd.DataFrame(data, columns = ["DateTime","Open","High","Low","Close","Volume","OI"])
    df[["Date", "Time"]] = df["DateTime"].str.split("T", expand=True)
    df[["Time", "nan"]] = df["Time"].str.split("+", expand=True)
    #df.drop(["DateTime", "nan"], axis=1, inplace=True)
    #df = df[["Date","Time","Open","High","Low","Close","Volume"]]
    df = df.set_index("DateTime")
    # df = df.resample("5T").agg({"Open":"first",
    #                    "High":"max",
    #                    "Low":"min",
    #                    "Close":"last",
    #                    "Volume":"sum"})
    
    return df

In [77]:
get_data(bnfut).iloc[-1]["Close"]

39217.85

In [19]:
import requests
import time
from pymongo import MongoClient,DESCENDING
import json
import pyotp

In [38]:

def kiteLogin():  # automated login
  # print("Logging in...")
  user = 'VT5229'
  pswd = 'Zerodha@1234'
  twofa = pyotp.TOTP("V3CY6R3SQBP2J7JQ7A5KN56DFXIXRPZH").now()
  sesh2 = requests.Session()
  url = "https://kite.zerodha.com/api/login"
  twofaUrl = "https://kite.zerodha.com/api/twofa"
  reqId = json.loads(sesh2.post(url, {"user_id": user, "password": pswd}).text)["data"]["request_id"]
  # print(reqId)
  time.sleep(3)
  login = sesh2.post(twofaUrl, {"user_id": user, "request_id": reqId, "twofa_value": twofa})
  # print(login)
  time.sleep(2)
  reqToken = sesh2.get("https://kite.zerodha.com/oms/user/margins")
  # print(reqToken.request.headers['Cookie'])
  a = reqToken.request.headers['Cookie']
  
  for i in a.split():
    if "enctoken" in i:
        enctoken = i.split(';')[0].replace('=', ' ', 1)
        break
  
  return enctoken
  
  
def login_status(enctoken):

  funds = "https://api.kite.trade/user/margins"
  headers = {"X-Kite-Version": "3",
            "Authorization": "enctoken "+enctoken}
  js = requests.get(funds, headers=headers).json()
  
  return js['status']

In [25]:
user = 'VT5229'
pswd = 'Zerodha@1234'
twofa = pyotp.TOTP("V3CY6R3SQBP2J7JQ7A5KN56DFXIXRPZH").now()
sesh2 = requests.Session()
url = "https://kite.zerodha.com/api/login"
twofaUrl = "https://kite.zerodha.com/api/twofa"

In [39]:
kiteLogin()

'enctoken wreWanLAjx+JDmQ8Mkta84Ykte44Xg8E+rXrSdPQaJcmN2Kvqb0YsmUnzRjo7QJcdOh9rpoZLo03ixvnji1S20DbIXAoWXoc2a6EowhPH1gNg+ZvkGIftw=='

In [21]:

mongo = MongoClient("mongodb://akshay:Learnapp1234@cluster0-shard-00-00.9hpry.mongodb.net:27017,cluster0-shard-00-01.9hpry.mongodb.net:27017,cluster0-shard-00-02.9hpry.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-9goxcz-shard-0&authSource=admin&retryWrites=true&w=majority")
mydb = mongo['test']
coll = mydb['enctoken-akshay']

#Fetch the latest enctoken
enctoken = list(coll.find())[-1]['enctoken']

#Find wether the enctoken is correct or not
if login_status(enctoken) == "success":
    print('success')
    
#if not correct, then re-login
else:
    #Find today's date
    print('re-logging')
    curr_time_dec = time.localtime(time.time())
    date = time.strftime("%Y-%m-%d", curr_time_dec) 

    enctoken = kiteLogin().split(" ")[-1]
    print(enctoken)
    #Create a dictionary to store tokens 
    token = {'Date':date}
    token['enctoken'] = enctoken
    coll.insert_one(token)

re-logging

NameError: name 'null' is not defined

In [217]:
# def get_data(bnfut_symbol):
#     max_tries = 0
    
#     to_date = dt.datetime.today().strftime("%Y-%m-%d")
#     from_date = (dt.datetime.today() - dt.timedelta(10)).strftime("%Y-%m-%d")

#     data = {"symbol":bnfut_symbol,"resolution":"5","date_format":"1","range_from":from_date,"range_to":to_date,"cont_flag":"1"}

#     while max_tries < 5:
#         try:
#             response = fyers.history(data)
#             df = pd.DataFrame(response["candles"], columns = ["DateTime","Open","High","Low","Close","Volume"])
#             df["Date"] = df["DateTime"].apply(lambda x: dt.datetime.fromtimestamp(x).strftime("%Y-%m-%d"))
#             df["Time"] = df["DateTime"].apply(lambda x: dt.datetime.fromtimestamp(x).strftime("%H:%M:%S"))
#             df = df[["DateTime","Date","Time","Open","High","Low","Close","Volume"]]
            
#             return df
        
#         except:
#             if max_tries == 5:
#                 break
                        
#             max_tries = max_tries + 1
    
#     return -1

In [218]:
# Function to find supertrend value

def supertrend(df,atr_period, multiplier):
    
    high=df['High']
    low = df['Low']
    close = df['Close']

  
    price_diffs = [high - low, 
                   high - close.shift(), 
                   close.shift() - low]
                   
    true_range = pd.concat(price_diffs, axis=1)
    true_range = true_range.abs().max(axis=1)
    
   
    atr = true_range.ewm(alpha=1/atr_period,min_periods=atr_period).mean() 
  
    
 
    hl2 = (high + low) / 2
    
    final_upperband = upperband = hl2 + (multiplier * atr)
    final_lowerband = lowerband = hl2 - (multiplier * atr)
    s_t=atr
    
    supertrend = [True] * len(df)
    
    for i in range(1, len(df.index)):
        curr, prev = i, i-1
        
       
        if close[curr] > final_upperband[prev]:
            supertrend[curr] = True
      
        elif close[curr] < final_lowerband[prev]:
            supertrend[curr] = False
       
        else:
            supertrend[curr] = supertrend[prev]
            
           
            if supertrend[curr] == True and final_lowerband[curr] < final_lowerband[prev]:
                final_lowerband[curr] = final_lowerband[prev]
                
            
                
            if supertrend[curr] == False and final_upperband[curr] > final_upperband[prev]:
                final_upperband[curr] = final_upperband[prev]
                
     
       
        if supertrend[curr] == True:
           final_upperband[curr] = np.nan
           s_t[curr]=final_lowerband[curr]
            
        else:
           final_lowerband[curr] = np.nan
           s_t[curr]= final_upperband[curr]

    return pd.DataFrame({
        str(atr_period)+'_'+str(multiplier)+'_Supertrend':s_t
    }, index=df.index)

In [219]:
# Function to find ltp of an instrument
def get_ltp(symbol):
    return fyers.quotes({"symbols":symbol})["d"][0]["v"]["lp"]

In [220]:
#Function to create trading symbol
def get_trading_symbol(expiry_subsymbol,strike,option_type):
    return "NSE:BANKNIFTY" + expiry_subsymbol + str(strike) + option_type

In [221]:
def find_option_strike(nearest_premium, option_type):
    
    opt_strike = derivatives_list[(derivatives_list["Instrument"] == "BANKNIFTY") & (derivatives_list["Exchange Instrument type"] == 14) & (derivatives_list["Expiry date"] == weekly_expiry_date_epoch) & (derivatives_list["Option type"] == option_type)]["Symbol ticker"].to_list()
    
    opt_strike_str_1 = ",".join(opt_strike[:40])
    opt_strike_str_2 = ",".join(opt_strike[40:80])
    opt_strike_str_3 = ",".join(opt_strike[80:])
    
    opt_strike_dict = {}
    
    for i in fyers.quotes({"symbols":opt_strike_str_1})["d"]:
        opt_strike_dict[i["n"]] = i["v"]["lp"]

    for i in fyers.quotes({"symbols":opt_strike_str_2})["d"]:
        opt_strike_dict[i["n"]] = i["v"]["lp"]

    for i in fyers.quotes({"symbols":opt_strike_str_3})["d"]:
        opt_strike_dict[i["n"]] = i["v"]["lp"]
        
        
    final_strike = max((key for key in opt_strike_dict if opt_strike_dict[key] < nearest_premium), key=opt_strike_dict.get)
    
    return final_strike

In [222]:
#Place Entry Order

In [223]:
#Place SL Order

Final Logic

In [224]:
# Code to create a fyers object
client_id = "HJ2321XETS-100"

is_async = False
token_object = get_token("akshay")
fyers = fyersModel.FyersModel(client_id=client_id, token=token_object["access_token"])


if fyers.get_profile()["s"] == "error":
    print("Access Token Expired!")
    print("Generating new access token...")
    token_object = fyers_login()
    fyers = fyersModel.FyersModel(client_id=client_id, token=token_object["access_token"])

Access Token Expired!
Generating new access token...

In [225]:
# code to find the latest expiry banknifty future symbol

derivatives_list = pd.read_csv("https://public.fyers.in/sym_details/NSE_FO.csv", header = None)
derivatives_list.columns = ["Fytoken","Symbol Details","Exchange Instrument type","Minimum lot size","Tick size","ISIN","Trading Session","Last update date","Expiry date","Symbol ticker","Exchange","Segment","Scrip code","Instrument","Underlying scrip code","Strike price","Option type","a"]
bnfut_symbol = derivatives_list[(derivatives_list["Instrument"] == "BANKNIFTY") & (derivatives_list["Exchange Instrument type"] == 11)].sort_values("Expiry date").iloc[0]["Symbol ticker"]

In [226]:
# Find latest weekly expiry date
weekly_expiry_date_epoch = derivatives_list[(derivatives_list["Instrument"] == "BANKNIFTY") & (derivatives_list["Exchange Instrument type"] == 14)].sort_values("Expiry date").iloc[0]["Expiry date"]
weekly_expiry_date = dt.datetime.fromtimestamp(weekly_expiry_date_epoch).strftime("%Y-%m-%d")

In [227]:
# Find the expiry sub-symbol
YY = weekly_expiry_date[2:4]
MM = weekly_expiry_date[5:7]
dd = weekly_expiry_date[-2:]

if int(MM) < 10:
    MM = MM[-1]
    
expiry_subsymbol = YY+MM+dd

In [207]:
df = get_data(bnfut_symbol)
df["Supertrend"] = supertrend(df,10,3)

In [239]:
# Entry Condition Code

ce_position = 0
pe_position = 0

while dt.datetime.now().strftime("%H:%M:%S") >= "09:20:00" and dt.datetime.now().strftime("%H:%M:%S") <= "15:15:00":

    df = get_data(bnfut_symbol)
    
    # continue the loop if data is not correct
    # if df == -1:
    #     continue
    
    df["Supertrend"] = supertrend(df,10,3)

    close_value = df.iloc[-1]["Close"]
    supertrend_value = df.iloc[-1]["Supertrend"]

    if close_value > supertrend_value and pe_position == 0:
        pe_strike = find_option_strike(100,"PE")
        pe_strike_price_entry = get_ltp(pe_strike)
        pe_strike_price_sl = round(pe_strike_price_entry*1.5*20)/20
            
        print(f"SHORT: {pe_strike} at {pe_strike_price_entry}")
        send_message_telegram("-1001825639727",f"SHORT\n{pe_strike}\n@ {pe_strike_price_entry}")
        print(f"SL: {pe_strike} at {pe_strike_price_sl}")
        send_message_telegram("-1001825639727",f"SL PLACED\n{pe_strike}\n@ {pe_strike_price_sl}")
        
        pe_position = 1
        continue
        
    if close_value < supertrend_value and ce_position == 0:
        ce_strike = find_option_strike(100,"CE")
        ce_strike_price_entry = get_ltp(ce_strike)
        ce_strike_price_sl = round(ce_strike_price_entry*1.5*20)/20
            
        print(f"SHORT: {ce_strike} at {ce_strike_price_entry}")
        send_message_telegram("-1001825639727",f"SHORT\n{ce_strike}\n@ {ce_strike_price_entry}")
        print(f"SL: {ce_strike} at {ce_strike_price_sl}")
        send_message_telegram("-1001825639727",f"SL PLACED\n{ce_strike}\n@ {ce_strike_price_sl}")
        
        ce_position = 1
        continue
    
    if ce_position == 1:
        
        ce_strike_ltp = get_ltp(ce_strike)
        print(ce_strike_ltp)
        
        if ce_strike_ltp >= ce_strike_price_sl:
            
            ce_position = 2 # CE SL Hit
            print(f"SL HIT: {ce_strike} at {ce_strike_price_sl}")
            send_message_telegram("-1001825639727",f"SL HIT\n{ce_strike}\n@ {ce_strike_price_sl}")
        
    if pe_position == 1:
        
        pe_strike_ltp = get_ltp(pe_strike)
        print(pe_strike_ltp)
        
        if pe_strike_ltp >= pe_strike_price_sl:
            
            pe_position = 2 # PE SL Hit
            print(f"SL HIT: {pe_strike} at {pe_strike_price_sl}")
            send_message_telegram("-1001825639727",f"SL HIT\n{pe_strike}\n@ {pe_strike_price_sl}")
    
    time.sleep(1)
    

# Send PNL to telegram group at 03:15 PM
  
if ce_position == 2:
    ce_pnl = round((ce_strike_price_entry - ce_strike_price_sl)*25,2)
    print(f"CE PNL for {ce_strike}: Rs. {ce_pnl}")
    send_message_telegram("-1001825639727", f"CE PNL for\n{ce_strike}\nRs. {ce_pnl}")
    
elif ce_position == 1:
    ce_pnl = round((ce_strike_price_entry - get_ltp(ce_strike))*25,2)
    print(f"CE PNL for {ce_strike}: Rs. {ce_pnl}")
    send_message_telegram("-1001825639727", f"CE PNL for\n{ce_strike}\nRs. {ce_pnl}")

else:
    print("No CE Position Today")
    send_message_telegram("-1001825639727", "No CE Position Today")

if pe_position == 2:
    pe_pnl = round((pe_strike_price_entry - pe_strike_price_sl)*25,2)
    print(f"PE PNL for {pe_strike}: Rs. {pe_pnl}")
    send_message_telegram("-1001825639727", f"PE PNL for\n{pe_strike}\nRs. {pe_pnl}")
    
elif pe_position == 1:
    pe_pnl = round((pe_strike_price_entry - get_ltp(pe_strike))*25,2)
    print(f"PE PNL for {pe_strike}: Rs. {pe_pnl}")
    send_message_telegram("-1001825639727", f"PE PNL for\n{pe_strike}\nRs. {pe_pnl}")

else:
    print("No PE Position Today")
    send_message_telegram("-1001825639727", "No PE Position Today")

SHORT: NSE:BANKNIFTY2331641100CE at 97.7
{'ok': True, 'result': {'message_id': 55, 'sender_chat': {'id': -1001825639727, 'title': 'Supertrend Notifications', 'type': 'channel'}, 'chat': {'id': -1001825639727, 'title': 'Supertrend Notifications', 'type': 'channel'}, 'date': 1678421213, 'text': 'SHORT\nNSE:BANKNIFTY2331641100CE\n@ 97.7'}}
inside send_message_bot
SL: NSE:BANKNIFTY2331641100CE at 146.55
{'ok': True, 'result': {'message_id': 56, 'sender_chat': {'id': -1001825639727, 'title': 'Supertrend Notifications', 'type': 'channel'}, 'chat': {'id': -1001825639727, 'title': 'Supertrend Notifications', 'type': 'channel'}, 'date': 1678421213, 'text': 'SL PLACED\nNSE:BANKNIFTY2331641100CE\n@ 146.55'}}
inside send_message_bot
97.05
95.8
96.35
96.4
94.5
94.85
94.95
94.8
95.55
95.55
95.55
95.05
95.1
94.1
94.05
94.2
94.55
94.25
93.5
93.5
93.3
92.7
92.7
92.2
94.0
93.8
95.15
94.4
94.75
94.85
94.85
94.4
94.4
94.8
95.4
95.0
95.5
95.7
95.85
95.85
94.8
95.1
95.05
95.55
95.25
96.1
96.1
95.4
95.2
94.6
94.55
95.5
94.35
95.2
96.0
96.2
96.2
95.2
94.6
94.05
95.2
95.4
94.85
94.5
94.4
94.4
94.4
93.7
93.7
93.8
92.7
92.75
93.0
93.15
93.3
93.3
94.05
93.2
93.5
93.6
93.6
92.65
92.35
92.15
92.95
92.6
92.7
92.7
93.15
92.75
92.7
92.65
92.5
91.55
91.95
92.3
92.3
91.4
91.1
91.4
91.8
91.65
430.45
SL HIT: NSE:BANKNIFTY2331641100CE at 146.55
{'ok': True, 'result': {'message_id': 57, 'sender_chat': {'id': -1001825639727, 'title': 'Supertrend Notifications', 'type': 'channel'}, 'chat': {'id': -1001825639727, 'title': 'Supertrend Notifications', 'type': 'channel'}, 'date': 1678421355, 'text': 'SL HIT\nNSE:BANKNIFTY2331641100CE\n@ 146.55'}}
inside send_message_bot

KeyboardInterrupt:

In [78]:
from fyers_api import accessToken
from fyers_api import fyersModel
from pymongo import MongoClient,DESCENDING
import requests
import json
import time
import pandas as pd

In [79]:

#Function to login to fyers account and get token
def get_token(name):
    mongo = MongoClient("mongodb://akshay:Learnapp1234@cluster0-shard-00-00.9hpry.mongodb.net:27017,cluster0-shard-00-01.9hpry.mongodb.net:27017,cluster0-shard-00-02.9hpry.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-9goxcz-shard-0&authSource=admin&retryWrites=true&w=majority")
    mydb = mongo['test']
    
    coll_name = 'tokens-' + str(name)
    coll = mydb[coll_name]
    
    #Find the login details
    token = list(coll.find())[-1]
    return token

In [82]:
token = get_token("sid")

is_async = False

#create your account object
fyers = fyersModel.FyersModel(client_id="UYGL5MHX5F-100", token=token['access_token'])

In [83]:
df_pos = pd.DataFrame(fyers.positions()['netPositions'])
df_ord = pd.DataFrame(fyers.orderbook()['orderBook'])

In [87]:
df_pos

,symbol,id,buyAvg,buyQty,buyVal,sellAvg,sellQty,sellVal,netAvg,netQty,...,exchange,unrealized_profit,dayBuyQty,cfBuyQty,daySellQty,cfSellQty,rbiRefRate,pl,slNo,avgPrice
0,NSE:MANAPPURAM-EQ,NSE:MANAPPURAM-EQ-INTRADAY,115.3,941,108497.3,113.500000,941,106803.5,0.000000,0,...,10,0.0,941,0,941,0,1,-1693.8,0,0
1,NSE:SHRIRAMFIN-EQ,NSE:SHRIRAMFIN-EQ-INTRADAY,0.0,0,0.0,1238.875581,86,106543.3,1238.875581,-86,...,10,2113.5,0,0,86,0,1,2113.5,0,0
2,NSE:HINDPETRO-EQ,NSE:HINDPETRO-EQ-INTRADAY,0.0,0,0.0,245.547706,436,107058.8,245.547706,-436,...,10,-611.4,0,0,436,0,1,-611.4,0,0

In [115]:
for i in df_pos['symbol']:
    
    df = df_ord[df_ord['symbol'].str.contains(i)]
    df = df[df["filledQty"] == 0]

In [116]:
df

,clientId,id,exchOrdId,qty,remainingQuantity,filledQty,discloseQty,limitPrice,stopPrice,tradedPrice,...,source,ex_sym,description,ch,chp,lp,slNo,dqQtyRem,orderNumStatus,disclosedQty
3,XS19826,23032000018104,1100000001545817,436,436,0,0,233.25,0.0,0.0,...,API,HINDPETRO,HINDUSTAN PETROLEUM CORP,4.4,1.81,246.95,4,0,23032000018104:6,0
8,XS19826,23032000018080,1100000001544158,436,436,0,0,0.00,249.5,0.0,...,API,HINDPETRO,HINDUSTAN PETROLEUM CORP,4.4,1.81,246.95,9,0,23032000018080:6,0

In [97]:
df_ord.iloc[2]

clientId                             XS19826
id                            23032000017652
exchOrdId                   1300000001408154
qty                                       86
remainingQuantity                          0
filledQty                                 86
discloseQty                                0
limitPrice                           1238.87
stopPrice                                0.0
tradedPrice                          1238.87
type                                       2
fyToken                       10100000004306
exchange                                  10
segment                                   10
symbol                     NSE:SHRIRAMFIN-EQ
instrument                                 0
message
offlineOrder                           False
orderDateTime           20-Mar-2023 09:22:14
orderValidity                            DAY
pan
productType                         INTRADAY
side                                      -1
status                                     2
source                                   API
ex_sym                            SHRIRAMFIN
description          SHRIRAM FINANCE LIMITED
ch                                     -31.7
chp                                    -2.54
lp                                    1214.3
slNo                                       3
dqQtyRem                                   0
orderNumStatus              23032000017652:2
disclosedQty                               0
Name: 2, dtype: object

In [ ]:

def oco(name,client_id):
    
    #client_id = "HJ2321XETS-100"
    token = get_token(name)
    
    is_async = False
    
    #create your account object
    fyers = fyersModel.FyersModel(client_id=client_id, token=token['access_token'])
    
    #get data of all positions and orders
    df_pos = pd.DataFrame(fyers.positions()['netPositions'])
    df_ord = pd.DataFrame(fyers.orderbook()['orderBook'])
    
    print(df_ord)
    
    #Find which stock's stoploss/Target has hit and cancel the other order
    for i in df_pos['symbol']:
        df = df_ord[df_ord['symbol'].str.contains(i) & ~df_ord['message'].isin(["TRADE CONFIRMED"])]
        print(len(df))

        if len(df) == 1:
            print("Hello")
            order_open = df['id'].iloc[0]
            status = fyers.cancel_order({'id':order_open})  
            print(status)
    
def lambda_handler(event, context):
    # TODO implement
    
    #time map 
    curr_time_dec = time.localtime(time.time() + 5.5*60*60) #add 5.5 hrs for IST timings
    curr_date = time.strftime("%Y-%m-%d", curr_time_dec) 
    curr_time = time.strftime("%H:%M:%S", curr_time_dec)
    
    if curr_time < '15:13:00':
    
        #Akshay oco
        #oco('akshay','HJ2321XETS-100')
        
        #Siddharth oco
        oco('sid','UYGL5MHX5F-100')

    
    return {
        'statusCode': 200,
        'body': json.dumps('Hello from Lambda!')
    }